meta/kumva.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kumva.ijuru.com" xmlns="http://kumva.ijuru.com">
  
  <xs:element name="kumva">
    <xs:complexType>
      <xs:choice>
        <xs:element name="definitions" type="definitionsType" />
        <xs:element name="definition" type="definitionType" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="definitionsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="definition" type="definitionType" />
    </xs:sequence>
    <xs:attribute name="query" type="xs:string" />
  </xs:complexType>
  
  <xs:complexType name="definitionType">
    <xs:sequence>
      <xs:element name="prefix" type="xs:string" />
      <xs:element name="lemma" type="xs:string" />
      <xs:element name="modifier" type="xs:string" />
      <xs:element name="meaning" type="xs:string" />
      <xs:element name="comment" type="xs:string" />
      <xs:element name="tags" type="tagsType" />
      <xs:element name="examples" type="xs:string" />
      <xs:element name="changes" type="changesType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="wordclass" type="xs:string" />
    <xs:attribute name="nounclasses" type="xs:int" />
    <xs:attribute name="confidence" type="confidenceType" />
    <xs:attribute name="proposal" type="xs:boolean" />
    <xs:attribute name="voided" type="xs:boolean" />
  </xs:complexType>
  
  <xs:simpleType name="confidenceType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="tagsType">
  	<xs:sequence>
      <xs:element maxOccurs="unbounded" name="relationship" type="relationshipType" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="relationshipType">
  	<xs:sequence>
      <xs:element maxOccurs="unbounded" name="tag" type="tagType" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:complexType name="tagType">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="text" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:complexType name="changesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="definition" type="changeType" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="changeType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="comment" type="commentType" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="original" type="xs:int" />
    <xs:attribute name="proposal" type="xs:int" />
    <xs:attribute name="action" type="actionType" use="required" />
    <xs:attribute name="submitter" type="xs:int" use="required" />
    <xs:attribute name="submitted" type="xs:dateTime" use="required" />
    <xs:attribute name="status" type="statusType" use="required" />
    <xs:attribute name="resolver" type="xs:int" />
    <xs:attribute name="resolved" type="xs:dateTime" />
  </xs:complexType>
  
  <xs:simpleType name="actionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="create"/>
      <xs:enumeration value="modify"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="statusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending"/>
      <xs:enumeration value="accepted"/>
      <xs:enumeration value="rejected"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="commentType">
    <xs:sequence>
      <xs:element name="text" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="user" type="xs:int" use="required" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
  </xs:complexType>
  
</xs:schema>
